.preview .ts.grid {
  border: 1px solid #111;
}
.preview .ts .column:not(.row):not(.grid) {
  height: 5em;
  background: #e2e2e2;
  background-clip: content-box;
}
.preview .ts .column::after {
  box-shadow: inset 0 0 0 1px rgba(86,61,124,.2);
  content: "";
  display: block;
  position: absolute;
  top: .44rem;
  right: .44rem;
  bottom: .44rem;
  left: .44rem;
}
